{% extends 'base.html' %}
{% block content %}
{% if error %}
  <small style="color: red;">{{error}}</small>
{% else %}
{% endif %}
{% if sprite %}


  <div class="pokesprite">
    <img src="{{sprite}}">
    <h1>
      {{pokemon}} Stats
    </h1>
  </div>



</div>



{% endif %}
{% if stats %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Stat</th>
        <th scope="col">Base</th>
        <th scope="col">Effort</th>
      </tr>
    </thead>
    <tbody>
    {% for stat in stats %}
      <tr>
        <th scope="row">{{stat['poke_statname']}}</th>
        <td>{{stat['poke_statbase']}}</td>
        <td>{{stat['poke_stateffort']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
